{% extends 'base.html' %}

{% block titulo %}Eventos Pr&oacute;ximos{% endblock %}
{% block contenido %}
    <h2 >Eventos Pr&oacute;ximos</h2>
        <table class="table table-striped datatable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripci&oacute;n</th>
                    <th>Ubicaci&oacute;n</th>
                    <th>Fecha y Hora</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for inscribe in Evento %}
                    <tr>
                        <td>{{ inscribe.evento_id }}</td>
                        <td>{{ inscribe.describe }}</td>
                        <td>{{ inscribe.ubica }}</td>
                        <td>{{ inscribe.fecha }}</td>
                        <td><a href="{% url 'detalle_evento' inscribe.evento_id %}" class="btn btn-primary btn-sm" onclick="mensajeEspera()">Ver detalles{{ inscribe.evento_id }}</a></td>
                    </tr>  
                    {% empty %}
                        <tr>
                            <td colspan="5">No hay eventos disponibles.</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}