{% extends 'base.html' %}

{% block titulo %}Eventos Pr&oacute;ximos{% endblock %}
{% block contenido %}
    <h2 >Eventos Pr&oacute;ximos</h2>
        <table class="table table-striped datatable">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripci&oacute;n</th>
                    <th>Ubicaci&oacute;n</th>
                    <th>Fecha y Hora</th>
                    <th>Acciones{{ user.id }}</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                    <tr>
                        <td>{{ evento.nombre }}</td>
                        <td>{{ evento.describe }}</td>
                        <td>{{ evento.ubica }}</td>
                        <td>{{ evento.fecha }}</td>
                        <td><a href="{% url 'detalle_evento' evento.id %}" class="btn btn-primary btn-sm" onclick="mensajeEspera()">Ver detalles{{ evento.pk }}</a></td>
                        <td><a href="{% url 'mostrar_participantes' evento.id %}" class="btn btn-warning btn-sm" onclick="mensajeEspera()">Ver asistentes{{ evento.pk }}</a></td>
                    </tr>  
                    {% empty %}
                        <tr>
                            <td colspan="5">No hay eventos disponibles.</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}